@mixin corpo {          /*  mixin */
	border: 1px solid;
	width: 470px;
	margin: 0 auto;
}

.atividade{
	@include corpo;
}

%component {
	margin-right: 90px;
}

/*  placeholder */
li#brand{        
	@extend %component;
}

li{
	display: inline;
	margin-right: 20px;
}

$number: 1;

$cor-personalizada: red;

li:hover{
	@if $number == 1 {
	background: $cor-personalizada;
}
	@if $number == 2 {
	background: yellow;
}
	color: #fff;
}